@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.prose ol ul,
.prose ul ul {
  padding: 0;
}

.prose ol ul > li,
.prose ul ul > li {
  list-style: none;
  padding-left: 0;
}
